[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lumache"
authors = [{name = "seungwoo37", email = "osw4007@hanyang.ac.kr"}]
dynamic = ["version", "description"]